%h1
  Hello, #{@ta['name']}!

%p
  Part of our class process is asking students for feedback on curriculum, instructors, and teaching assistants. Our students love working 1:1 with TAs, and they've had a ton of amazing things to say about working with you, in addition to suggestions for improvements.

%p
  In our ongoing committment to improving course quality, here are some tips based on the feedback we've received from students!

%ul
  %li
    %strong Students love debugging with TAs 1:1.
     They learn a ton of technical knowledge they would not have learned otherwise. The biggest piece of feedback we got from students was having TAs stay positive during the debugging process went a long way for their learning.
  %li
    %strong Never interrupt the instructor. Ever.
    Just don't do it (I know it's hard, and I am guilty of it sometimes, too). If you have a point that is relevant, or are concerned that the instructor said something incorrect, raise your hand and the instructor will pause when appropriate.
  %li
    %strong Don't talk down on your abilities or knowledge!
    It's very important for students to feel confident in your skills and abilities. Not only are we teaching assistants, but we're role models. Being self-deprecating is uncool and sets a bad example for students.
  %li
    %strong Don't TA for a topic that you have no experience with.
    If you have no experience in UX and Design, or JavaScript, or whatever the course topic is, please don't sign up to TA. We appreciate your enthusiasm, but it's counterproductive to the course goals.
  %li
    %strong Find opportunities to ask questions when working 1:1.
    Asking students questions helps them to learn, even if it's a simple question.
  %li
    %strong Guide students to answers instead of always giving them.
    Finding the perfect balance between guiding students to self discover and providing them with the answer they want is incredibly difficult. Start slowly and if you sense frustration, confusion, or fear, walk them through the answer step-by-step.

%p
  Thanks everyone for volunteering! We look forward to seeing you again soon!
